apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-express-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-express
  template:
    metadata:
      labels:
        app: node-express
    spec:
      containers:
      - name: node-express
        image: gcr.io/${project-id}/node-express
        ports:
        - containerPort: 8080
